:root {
  scroll-behavior: auto;
}

._hr{
  margin: 0px auto;
  border: 1px solid white;
}

/* scroll */
  .barcontainer {
    position: relative;
    width: 100%;
    height: 5px;
    background: lightgray;
  }
  .progressbar {
    background-color: white;
    width: 0;
    height: 5px;
    position : fixed;
    z-index: 2;
  }
/* scroll */

/* navbar */
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .navbar-brand {
    font-size: 30px;
    transition: all 1s;
    padding: 5px;
  }
  #insta-img {
    transition: all 1s;
    width:30px;
  }
  #nav_div {
    height: 120px;
  }
/* navbar */

/* AboutMe */
  #AboutMe {
    height: 450px; 
    color: white;
  }
  .AboutMe_div {
    height: 100%; 
    width: 50%;
    float: left;
    color: white;
    text-align: center;
  }
  #AboutMe_info {
    float:left;
    line-height: 50px;
    text-align: left;
    padding-left: 20px;
    padding-top: 70px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  #AboutMe_info_span {
    width: 100px;
    text-align: center;
    float:left;
    font-weight: 400;
  }
  #AboutMe_info_a {
    width: 500px;
    float:left;
    padding-left: 20px;
    line-height: 55px;
  }
  #AboutMe_info_a > a, #AboutMe_info > a {
    text-decoration: none;
    color: white;
  }
  #AboutMe_info_a > a:hover {
    color: black;
  }
  .category{
    background-color: cadetblue;
    color: black;
    border-radius: 80px 40px;
    padding: 10px;
    font-size: 15px;
    width: 200px;
  }
  .aName {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
  }
  #AboutMe_pic_info img {
    border-radius: 100%;
    float: right;
    margin-right: 20px;
    height: 400px;
  }
/* AboutMe */

/* DevStack */
  #DevStack {
    height: 740px; 
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
  }
  #DevStack_Myinfo {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }
  #DevStack_container {
    font-family: 'Jua', sans-serif;
  }
/* DevStack */

/* Timeline */
  #TimelineMap {
    height: 800px; 
    color: white;
    font-family: 'Jua', sans-serif;
  }
  .timeline-text > span > h6 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
  }
/* Timeline */

/* Project */
  #Project{ 
    color: white;
    display: flex;
    justify-content: center;
  }
  #Project_Container{
    text-align: center;
    width: 50%;
  }
  #Project_Container .card {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: 1px solid black;
    margin: 1%;
  }
  #Project_Container .card-title {
    font-size: 24px;
    font-family: 'Jua', sans-serif;
  }
  #Project_Container .card-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
  }
  #Project_Container .card-img-top {
    height:150px;
  }
  .info_Container {
    font-family: 'Jua', sans-serif;
  }
  .card-body .btn {
    font-family: 'Jua', sans-serif;
  }
/* Project */

/* Music */
  #Music {
    height: 500px;
    border: 1px solid blue;
    color: white;
  }
/* Music */

/* Drink */
  #Drink {
    height: 500px;
    border: 1px solid blue;
    color: white;
  }
/* Drink */

/* Instagram */
  #Instagram { 
    border: 1px solid blue;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #insta_container {
    border: 1px solid green;
    width: 50%;
    align-items: center;
  }
  
  #insta_container .card {
    display: inline-block;
    border: 1px solid black;
    vertical-align: middle;
    position: relative;
    margin: 10px;
  }
  #insta-card_container {
    display: none;
  }
  .btn-cardOpen {
    width: 50%;
    margin-bottom: 20px;
  }
  .card-text > p {
    font-family: 'Jua', sans-serif;
    font-size: 18px;
  }
/* Instagram */

/* footer */
  #footer {
    margin-top: 30px;
    height: 200px;
    justify-content: center;
    display: flex;
  }
  #footer_container{
    /* border: 1px solid green; */
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
  }
  #footer_container > span > a > img {
    width:30px;
  }
/* footer */
